html, body {
	width: 100%;
	height: 100%;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
	white-space: normal;
	text-overflow: clip;
	text-align: center;
}